# base.txt is a pip requirements file which describes the necessary
# distributions required to run this project. If you need something that is
# project specific not listed here use project.txt. You can, of course, update
# versions of distributions here if needed.

Django==1.4.5
django-debug-toolbar==0.9.4
Pillow
psycopg2
South==0.7.6
django-rosetta==0.7.2
djangorestframework==2.3.8
gunicorn==19.1.1
