/* GENERAL */
body {
    background: #ffffff;
    color: #5b5b5b;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img,
object,
embed,
video {
    max-width: 100%;
}

h1 {
    font-size: 2.25em;
    font-weight: bold;
}

a {
  color: red;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
}

a:hover {
  opacity: 0.8;
}

.red {
    color: #e31212;
}

.white {
    color: #ffffff;
}

/* HEADER */
header {
    width: 100%;
    margin: 0;
    padding: 0;

    background: #ffffff;
    border-bottom: 2px solid #f0c635;
    z-index: 9999;
}

.header-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 110px;
    margin: 0 auto;
    padding: 0 1%;
}

.logo-header {
    float: left;
    width: 260px;
    height: 100px;
    margin: 8px 0 0 0;
    padding: 0;
    background: url(../img/sprite.png) 0 0 no-repeat;
}

.logo-header a {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -1000em;
}

.social-header {
    float: right;
    margin: 10px 0 0 0;
    padding: 0;
}

.social-header ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-header ul li {
    float: left;
}

.social-header ul li a {
    float: left;
    width: 40px;
    height: 36px;
    margin: 0;
    padding: 0;
    text-indent: -1000em;
    cursor: pointer;
}

.social-header ul li a.social-facebook {background: url(../img/sprite.png) -277px 0 no-repeat;}
.social-header ul li a.social-twitter {background: url(../img/sprite.png) -277px 0 no-repeat;}
.social-header ul li a.social-rss {background: url(../img/sprite.png) -363px 0 no-repeat;}

.social-header ul li a.social-facebook:hover {background: url(../img/sprite.png) -277px -36px no-repeat;}
.social-header ul li a.social-twitter:hover {background: url(../img/sprite.png) -277px -36px no-repeat;}
.social-header ul li a.social-rss:hover {background: url(../img/sprite.png) -363px -36px no-repeat;}

.menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.25em;
    clear: right;
}

.menu li {
    float: left;
    margin: 20px 0 0 10px;
}

.menu li a {
    text-decoration: none;
    border-right: 1px solid #bfbfbf;
    padding-right: 10px;
    color: #767676;
}

.menu li a.nav-last {
    border: none;
}

.menu li a:hover {
    text-decoration: none;
    color: #e31212;
}

/* CONTENT */
.title{
    font-size: 3em;
    font-weight: normal;
}

.space {
    width: 100%;
    height: 110px;
    margin: 0;
    padding: 0;
}
.informacion {
    background: #f0c635;
    box-sizing: border-box;
    margin: 0;
    padding: .5em 1% 0 1%;
    width: 100%;
}

.informacion-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
}

.informacion-text {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.informacion-img {
    float: right;
    max-width: 375px;
    max-height: 286px;
    margin: 15px 0 0 0;
    padding: 0;
    background-image: url(img/world.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.informacion img {
    margin: 15px 0 0 2%;
    width: 375px;
}

.datos {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/bg-grey-bar.png) bottom repeat-x;
}

.datos-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
    text-align: right;
    background-image: url(../img/city.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.datos-inside p {
    font-size: 1.8em;
}

.nav-datos {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #484848;
}

.nav-datos ul {
    width: 640px;
    max-width: 100%;
    min-height: 75px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
    list-style: none;
}

.nav-datos ul li {
    float: left;
    margin: 26px 3.5% 0 3.5%;
    font-size: 1.25em;
}

.nav-datos ul li a {
     color: #ffffff;
}

.nav-datos ul li#current a {
     color: #f0c635;
     border-bottom: 5px solid #f0c635;
     padding-bottom: 18px;
}

.map-google {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}


.patrocinadores {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.patrocinadores-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
}


.patrocinadores-btn {
    //float: right;
    margin: 10px 0 0 0;
    padding: 0;
}

.patrocinadores-btn ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.patrocinadores-btn ul li {
    float: right;
}

.patrocinadores-btn ul li a {
    box-sizing: border-box;
    float: left;
    font-size: 1.2em;
    height: 53px;
    margin: 0 0 0 15px;
    padding: .75em;
    cursor: pointer;
}

.patrocinadores-btn ul li a.folleto-pdf {background: #858585; color: #fff;}
.patrocinadores-btn ul li a.contacto-patrocinador {background: #e31212; color: #fff;}

.patrocinadores-btn ul li a.folleto-pdf:hover, .patrocinadores-btn ul li a.contacto-patrocinador:hover {background: #f0c635; opacity: 1;}

.patrocinadores-nav {
    float: left;
    width: 680px;
    max-width: 100%;
    min-height: 75px;
    height: 100%;
    margin: 0 18%;
    padding: 0;
    clear: both;
}

.patrocinadores-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.patrocinadores-nav ul li {
    float: left;
    margin: 20px 3.5% 0 3.5%;
    font-size: 1.50em;
    display: block;
}

.patrocinadores-nav ul li a {
    color: #767676;
}

.patrocinadores-nav ul li a.diamante:hover {color: #4ccfeb;}
.patrocinadores-nav ul li a.platino:hover {color: #e1a9d7;}
.patrocinadores-nav ul li a.oro:hover {color: #cbb924;}
.patrocinadores-nav ul li a.plata:hover {color: #c8c8c8;}

.patrocinadores-slider {
    float: left;
    width: 100%;
}

.patrocinadores-slider span{
    font-weight: bold;
}

.patrocinadores-slider span.diamante{
    color: #4ccfeb;
}
.patrocinadores-slider span.platino{
    color: #e1a9d7;
}
.patrocinadores-slider span.oro{
    color: #cbb924;
}
.patrocinadores-slider span.plata{
    color: #c8c8c8;
}

.patrocinadores-slider .slides li{
    text-align: center;
}

.patrocinadores-slider .slides li h3{
    font-size: 2.4em;
    font-weight: normal;
    line-height: 1em;
}

.patrocinadores-slider .slides li ul{
    list-style: none;
}

.patrocinadores-slider .slides li ul li{
    display: inline-block;
    margin: 0 auto;
    padding: .5em;
}

.one-column>*{
    width: 80%;
}

.two-columns>*{
    width: 45%;
}

.four-columns>*{
    width: 23%;
}

.five-columns>*{
    width: 18%;
}

.patrocinadores-slider .slides li ul li div{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
}

.imagen-landscape1 {
    background-image: url(../img/landscape1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #484848;
    clear: both;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.imagen-landscape-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 330px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
    position: relative;
}

.imagen-landscape2 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/landscape2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #000000;
}

.imagen-landscape2-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 670px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
    position: relative;
}

.imagen-pie {
    position: absolute;
    background: #484848;
    color: #ffffff;
    padding: 0 1%;
    line-height: 0.7em;
    text-align: right;
    margin: 0;
    bottom: 0;
    right: 0;
}

.call4papers {
    background: #f0c635;
    width: 100%;
    margin: 0;
    padding: 0;
}

.call4papers-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 420px;
    height: 100%;
    margin: 0 auto;
    padding: 6px 1%;
}

.call4papers-text {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.call4papers-img {
    float: right;
    max-width: 375px;
    max-height: 286px;
    margin: 14px 0 0 0;
    padding: 0;
    background-image: url(img/world.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.call4papers-right {
    float: right;
    margin: 0;
    padding: 0;
    min-width: 350px;
    margin: 14px 0 0 2%
}

.call4papers-btn a {
    float: right;
    background: #e31212;
    padding: 15px 20px;
    color: #ffffff;
    margin: 40px 23px 0 0;
    font-size: 1.2em;
}

.call4papers-btn a:hover {
    color: red;
    background: #ffffff;
}

.call4papers-btn .folleto-pdf { background: #767676; }

.horario {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.horario-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 580px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
}

.horario h1 {
    float: left;
}

.horario-btn {
    float: right;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.25em;
}

.horario-btn ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.horario-btn ul li {
    float: left;
}

.horario-btn ul li a {
    float: left;
    margin: 0 0 0 15px;
    padding: 15px 24px 23px 24px;
    color: #484848;
    text-align: center;
}

.horario-btn ul li a:hover,
.horario-btn ul li#current a {
    cursor: pointer;
    color: #ffffff;
    background: url(../img/sprite.png) 0 -125px no-repeat;
}

.horario-tabla {
    float:left;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}

.horario-tabla ul {
    border-top: 4px solid #c2c2c2;
    list-style: none;
    padding: 20px;
    margin: 0;
    float: left;
    width: 100%;
}


.horario-tabla ul li {
    padding: 5px;
    display: inline;
    text-align: center;
    float: left;
}

.horario-tabla ul li.horario-hora {color: #599eca; font-size: 1.8em; font-weight: bold; width: 12.682926%;}
.horario-tabla ul li.horario-tema {color: #e31212; width: 32.682926%;}
.horario-tabla ul li.horario-ponente {width: 23.902439%;}
.horario-tabla ul li.horario-donde {width:  13.170731%;}
.horario-tabla ul li.horario-masinfo {background: url(../img/sprite.png) 0 -200px no-repeat; padding-left: 30px; 13.658536%;}

.horario-tabla ul li.horario-masinfo a:hover {text-decoration: underline;}


.twitter-mod {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #767676;
}

.twitter-mod-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
    background: url(../img/sprite.png) 0 -240px no-repeat;
}

/* FOOTER */
footer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0 0;
    background: #484848;
}

.footer-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 570px;
    height: 100%;
    margin: 0 auto;
    padding: 1px 1%;
}

.footer-inside>div{
    text-align: left;
    width: 30%;
}

.footer-contacto {
    float: left;
    text-align: left;
}

.footer-contacto form{
    text-align: left;
}

.footer-contacto>form>span{
    color: white;
    display: block;
}

.footer-contacto>form>input{
    border: 0;
    padding: .5em;
}

.footer-contacto>form>textarea{
    border: 0;
    height: 70px;
    margin-bottom: 1em;
    padding: .5em;
    width: 100%;
}

.footer-contacto a.button{
    background: #e31212;
    color: #ffffff;
    padding: .6em;
}

.footer-menu {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0 1.5%;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    display: block;
    float: left;
    width: 100%;
}

.footer-menu ul li a {
    color: #ffffff;
}

.footer-menu ul li a.logo-footer {
    width: 218px;
    height: 80px;
    background: url(../img/sprite.png) -620px -120px no-repeat;
    text-indent: -1000em;
    cursor: pointer;
    margin: 0 0 20px 0;
    padding: 0;
    float: left;
}

.footer-newsletter {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0 1.5%;
}

.footer-newsletter form{
    text-align: left;
}

.footer-newsletter>form>span{
    color: white;
    display: block;
}

.footer-newsletter>form>input{
    border: 0;
    display: block;
    margin-bottom: 1.5em;
    padding: .5em;
}

.footer-newsletter>form>a.button{
    background: #e31212;
    color: #ffffff;
    padding: .7em;
}

#footer-copy {
    text-align: center;
    font-size: 0.9em;
    color: #b2b2b2;
    width: 100%;
    clear: both;
    padding: 2em 0;
    margin: 1em 0 0 0;
}

#newsletter-message{
    color: #f0c635;
}
a.link-yellow{
    color: #f0c635;
}

.alert {
    color: #ffffff;
}

.alert-error {
 //TODO
}

.alert-success {
  // TODO
}

.text-more-info-footer{
    box-sizing: border-box;
    display: none;
    padding: 1em 0 70px 0;
}

.conduct-inside {
    width: 1050px;
    max-width: 100%;
    min-height: 570px;
    height: 100%;
    margin: 0 auto;
    padding: 1px 1%;
}

.conduct-inside h3{
    font-size: 2em;
    font-weight: normal;
}

.conduct-inside .close-button{
    background: #858585;
    border-radius: .5em;
    color: #fff;
    padding: .4em;
}

.conduct-inside .close-button:hover{
    cursor: pointer;
}

.flex-direction-nav{
    display: none;
}

/*** < 880px ***/
@media screen and (max-width: 800px) {

    .title{
        font-size: 2.5em;
        text-align: center;
    }

    .menu {
        float: initial;
        font-size: 1.5em;
    }

    .menu li{
        box-sizing: border-box;
        display: inline-block;
        float: initial;
        text-align: center;
        margin: 0;
        padding: .5em;
        width: 100%;
    }

    .menu li a{
        border: 0;
    }

    .informacion img{
        display: none;
    }

    .patrocinadores-btn{
        float: initial;
        text-align: left;
    }

    .patrocinadores-btn ul li{
        display: inline-block;
        float: initial;
        margin-top: .5em;
    }

    .patrocinadores-nav{
        margin: 0;
    }

    .patrocinadores-slider .slides li ul{
        padding: 0;
    }

    .two-columns>*{
        width: 70%;
    }

    .four-columns>*{
        width: 45%;
    }

    .five-columns>*{
        width: 23%;
    }

    .call4papers-btn a {
        float: initial;
        margin: 0;
    }

    .call4papers-right {
        float: initial;
        text-align: center;
    }

    .call4papers-right > img{
        float: initial;
    }

    .datos-inside {
        text-align: center;
    }

    .horario-tabla ul {
        font-size: 0.9em;
    }

    .footer-inside>div{
        text-align: center;
    }

    .footer-inside>div.footer-menu{
        text-align: left;
    }

    .footer-inside>div{
        width: 100%;
    }
    .footer-newsletter, .footer-menu, .footer-contacto {
        float: initial;
    }
    .footer-newsletter form{
        text-align: center;
    }

    .footer-newsletter>form>input{
        margin: 0 auto;
    }
    .footer-contacto{
        padding-bottom: 1em;
    }
    .conduct-inside{
        padding: 0;
        text-align: left;
    }

    .conduct-inside h3{
        font-size: 1.8em;
        padding: 0 .5em;
    }

    .conduct-inside p{
        padding: 0 1em;
    }
}
