*{
	border : 0;
	margin : 0;
	padding : 0;
}

body{
    background : rgb(212,0,0);
	font : 16px 'Open Sans',serif,Arial;
	text-align : center;
}

body > header{
    background : rgb(255,255,255);
	color : rgb(212,0,0);
	font-family : 'Ubuntu';
	padding : 2em 0;
	width : 100%;
}

body > header > h1{
	font-size : 2.5em;
}

body > section{
	background : rgb(212,0,0);
	padding : .5em;
}

body > section h2{
	background : rgb(255,185,0);
	color : rgb(255,255,255);
	margin : 0 auto;
	margin-top : -1em;
	margin-bottom : .5em;
    max-width : 390px;
	padding : .3em;
	width : 70%;
}

body > section > article{
	background : rgb(255,255,255);
	border-radius : .1em;
	color : rgb(50,50,50);
	padding : 1em;
    text-align : left;
}

section > article > h3{
    background : rgb(255,185,0);
    color : rgb(255,255,255);
	font-size : 2.2em;
    font-weight : normal;
    text-align : center;
    margin-left : -5%;
    width : 110%;
}

section > article > h4{
	font-size : 2.2em;
    font-weight : normal;
    margin-bottom : .5em;
}

section > article > span{
    font-size : .8em;
    color : rgb(85,85,85);
    margin-bottom : 1em;
}

section > article > p{
    text-align : justify;
    margin : .5em 0;
}

section > article > p > a{
    color : rgb(255,185,0);
    font-weight : bold;
}

section > article >  a{
    color : rgb(255,185,0);
    font-size : 1.5em;
    font-weight : bold;
}

@media screen and (min-width: 800px){

    body > section > article{
        margin : 0 auto;
        max-width : 860px;
        width : 50%;
    }

}
