<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{STATIC_URL}}symposion/img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{{STATIC_URL}}symposion/img/favicon.ico" type="image/x-icon" />
	<title>PyCon España 2013</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{STATIC_URL}}symposion/css/comingsoon.css"/>
	<!--[if lt IE 9]>
	<script type="text/javascript">
		document.createElement("header");
		document.createElement("section");
		document.createElement("article");
	</script>
	<![endif]-->
</head>
<body>
	<header>
		<img src="{{STATIC_URL}}symposion/img/pycones.png" alt="Logo PyConES"/>
		<h1>PyConES 2013</h1>
		<h2>23-24 Nov</h2>
		<h3>Madrid - España</h3>
        <a class="twitter-link" href="https://twitter.com/PyConES">@PyConES</a>
        <a class="twitter-link" href="https://twitter.com/search?q=PyConES">#PyConES</a>
	</header>
	<section>
		<article id="newsletter">
			<h3>Newsletter</h3>
			<p>Apúntate a nuestra newsletter y entérate de todas las novedades al instante. Déjanos tu email</p>
			{% block message %}
			<form action="/newsletter/suscribe/" method="POST">{%csrf_token%}
				<input type="email" name="email_user" placeholder="email" required/>
				<input type="submit" value="ENVIAR" />
			</form>
			{% endblock %}
		</article>
		<article id="sponsors">
			<h3>Patrocinadores</h3>
			<p>¿Te interesaría patrocinar la primera PyCon en España? Escríbenos a <a href="mailto:patrocinadores2013@es.pycon.org">patrocinadores2013@es.pycon.org</a></p>
			<ul>
				<li>
					<a href="http://continuum.io">
						<img src="{{STATIC_URL}}symposion/img/continuum2.png" alt="Continuum"/>
					</a>
				</li>
			</ul>
		</article>
	</section>
</body>
</html>
