<html>
<head>
    <style>
        body{
            color : #333;
            font: 16px Calibri,serif,Arial;
        }

        h1{
            color : rgb(212,0,0);
        }

        h2{
            color : rgb(255,205,0);
        }
    </style>
</head>
<body>
    <img src="pycones.svg" alt="Logo PyConES"/>
    <h1>PyConES</h1>
    <h2>¡Bienvenido a la newsletter!</h2>
    <p>Hola,</p>

    <p>Muchas gracias por registrarte a la newsletter de la <a href="es.pycon.org">Python Conference de España</a>. A partir de ahora recibirás todas las noticias y actualizaciones sobre el evento directamente en tu email sin esfuerzo alguno. Serás el primer@ en recibir información crítica del evento como, por ejemplo, noticias sobre ponentes y patrocinadores, venta de entradas, planificación de charlas.</p>

    <p>Recuerda que también nos puedes encontrar en twitter con <a href="twitter.com/PyConES">@PyConES</a> y <a href="twitter.com/search?q=%23PyConES&src=hash">#PyConES</a>. Estamos encantados de escucharte así que no dudes en mandarnos un tweet :)</p>

    <p>Aún así no te obligamos a aguantarnos. Podrás darte de baja
        <a href="http://es.pycon.org/newsletter/unsuscribe/?email={{ email }}&val_token={{ token }}">pulsando aqui</a>.</p>

    <p>Muchas gracias.<br/>Un saludo<br/>Equipo Organizativo de PyConES</p>
</body>
</html>
