{% load static from staticfiles %}

<body style="color: #333; font: 16px 'Helvetica',serif,Arial;">
    <img src="{% static 'symposion/img/pycones.png' %}" alt="Logo PyConES"/>
    <h1 style="color: rgb(212,0,0);">PyConES 2013</h1>
    <h2 style="color: rgb(255,205,0);">{{ newsletter.title }}</h2>
    
    {% for article in newsletter.articles.all %}
        {{ article.title }}
    {% endfor %}




    <p>Recuerda que también nos puedes encontrar en twitter como <a href="http://twitter.com/PyConES">@PyConES</a> y <a href="http://twitter.com/search?q=%23PyConES&src=hash">#PyConES</a> y en el correo <a href="mailto:contacto2013@es.pycon.org">contacto2013@es.pycon.org</a>. Estamos encantados de escucharte así que no dudes en mandarnos un tweet o un correo :)</p>

    <p>Aún así no te obligamos a aguantarnos. Podrás darte de baja
        <a href="http://2013.es.pycon.org/newsletter/unsuscribe/?email={{ email }}&val_token={{ token }}">pulsando aquí</a>.</p>

    <p>Muchas gracias.<br/>Un saludo<br/>Equipo Organizativo de PyConES</p>
</body>
