<body style="color: #333; font: 16px 'Helvetica',serif,Arial;">
    <img src="http://es.pycon.org/site_media/static/symposion/img/pycones.png" alt="Logo PyConES"/>
    <h1 style="color: rgb(212,0,0);">PyConES</h1>
    <h2 style="color: rgb(255,205,0);">¡Bienvenido a la newsletter!</h2>
    <p>Hola,</p>

    <p>Muchas gracias por registrarte a la newsletter de la <a href="http://es.pycon.org">Python Conference de España</a>. A partir de ahora recibirás todas las noticias y actualizaciones sobre el evento directamente en tu bandeja de entrada. Serás el primero en recibir información importante del evento como las actualizaciones sobre charlas y ponentes, los patrocinios, la venta de entradas.</p>

    <p>Recuerda que también nos puedes encontrar en twitter como <a href="twitter.com/PyConES">@PyConES</a> y <a href="twitter.com/search?q=%23PyConES&src=hash">#PyConES</a> y en el correo <a href="mailto:correos@es.pycon.org">correo@es.pycon.org</a>. Estamos encantados de escucharte así que no dudes en mandarnos un tweet o un correo :)</p>

    <p>Aún así no te obligamos a aguantarnos. Podrás darte de baja
        <a href="http://es.pycon.org/newsletter/unsuscribe/?email={{ email }}&val_token={{ token }}">pulsando aqui</a>.</p>

    <p>Muchas gracias.<br/>Un saludo<br/>Equipo Organizativo de PyConES</p>
</body>
