{% load static from staticfiles %}

<body style="color: #333; font: 16px 'Helvetica',serif,Arial;">
    <img src="http://2013.es.pycon.org/static/web/img/pycones.png" alt="Logo PyConES"/>
    <h1 style="color: rgb(212,0,0);">PyConES 2013</h1>
    <h2 style="color: rgb(255,205,0);">¡Bienvenido a la newsletter!</h2>
    <p>Hola,</p>

    <p>Muchas gracias por registrarte en la newsletter de la <a href="http://2013.es.pycon.org">Python Conference de España</a>. A partir de ahora recibirás todas las noticias y actualizaciones sobre el evento directamente en tu bandeja de entrada. Serás el primero en recibir la información importante del evento y las actualizaciones sobre charlas y ponentes, los patrocinios, la venta de entradas, etc.</p>

    <p>Recuerda que también nos puedes encontrar en twitter como <a href="http://twitter.com/PyConES">@PyConES</a> y <a href="http://twitter.com/search?q=%23PyConES&src=hash">#PyConES</a> y en el correo <a href="mailto:contacto2013@es.pycon.org">contacto2013@es.pycon.org</a>. Estamos encantados de escucharte así que no dudes en mandarnos un tweet o un correo :)</p>

    <p>Aún así no te obligamos a aguantarnos. Podrás darte de baja
        <a href="{{ unsubscribe_url }}">pulsando aquí</a>.</p>

    <p>Muchas gracias.<br/>Un saludo<br/>Equipo Organizativo de PyConES</p>
</body>
