{% load static from staticfiles %}
{% load i18n %}

<article class="accommodation" id="alojamiento">
    <div class="accommodation-inside">
        <h2 class="white title">{% trans 'Alojamiento' %}</h2>
        {% blocktrans %}
        <p>El campus sur de la UPM está algo apartado del centro, así que nuestra recomendación es que os alojéis en zonas bien comunicadas en transporte público:</p>
        <ul>
            <li><strong>En metro</strong>: la estación Sierra de Guadalupe (L1) está a 10 minutos andando.</li>
            <li><strong>En tren</strong>: la estación Vallecas (C2 y C7) está a 10 minutos andando.</li>
            <li><strong>En autobús</strong>: hay varios autobuses que llegan: líneas 54, 58, 103, 142, 143, 63, 145.</li>
        </ul>
        <p>La línea 1 de metro comunica perfectamente el centro y la universidad. La zona de Méndez Álvaro y Pacífico están muy bien ubicadas y tendrán precios asequibles.</p>
        <p>Aparte, el campus tiene aparcamiento para quienes vengan en coche.</p>
        <p>La oferta de hoteles, hostales, o habitaciones privadas en Madrid es muy grande y hay un amplio abanico de opciones.</p>

        <ul>
            <li><a href="http://www.hotelmadridagumar.com" target="_blank">Hotel Agumar 4*</a> a medio camino de la estación Atocha de Metro (L1) y de la plaza de Mariano de Cavia (autobús 63). Sin desayuno 41€ aproximadamente la noche.</li>
            <li><a href="http://www.mediodiahotel.com/" target="_blank">Hotel Mediodía 2*</a> al lado de la estación Atocha de Metro (L1) y a unos 20 minutos andando para coger el autobús 63. Aproximadamente 46€ la noche.</li>
            <li><a href="http://www.nh-hotels.com/nh/en/hotels/spain/madrid/nh-pacifico.html" target="_blank">NH Pacífico 3*</a> al lado de la estación Puente de Vallecas de Metro (L1) y a 15 minutos andando de Conde de Casal. Entre 55€ y 60€ la noche.</li>
            <li><a href="http://www.ayrehoteles.com/" target="_blank" >Ayre Colón 4*</a> cerca del parque del Retiro, estación Sainz de Baranda de Metro (L6, transbordo cercano a L1) y a menos de 10 minutos andando de Conde de Casal. También 55€ la noche.</li>
            <li><a href="http://www.hotelclaridge.com/es/index" target="_blank">Claridge 4*</a> en la misma plaza Conde de Casal donde puedes coger los autobuses 63 y 145 directos a la universidad. Aproximadamente 75€ la noche.</li>
        </ul>

        <p>Estos son los hoteles que están bien comunicados con la universidad. El punto clave es la plaza Conde de Casal, de donde salen los autobuses 63 y 145.</p>

        <p>Si buscáis opciones especialmente asequibles, podéis buscar en redes como <a href="http://www.airbnb.com" target="_blank">www.airbnb.com</a> o albergues.</p>

        {% endblocktrans %}
    </div><!--accommodation-inside -->
</article>

