{% load static from staticfiles %}
{% load i18n %}

<article class="call4papers" id="call4papers">
    <div class="call4papers-inside">
        <div class="call4papers-right">
            <img src="{% static 'web/img/people.png' %}" alt="PyConES Madrid 2013" border="0" align="right" />
            <div class="call4papers-btn">
                 <a href="mailto:call4papers2013@es.pycon.org">call4papers2013@es.pycon.org</a>
            </div>
        </div>
        <h2 class="white title">Call4papers</h2>
        {% blocktrans %}
        <p>¿Tienes una charla interesante sobre Python? ¡Anímate a compartirla con la comunidad!</p>
        <p>La conferencia consta de dos tracks: uno para principiantes y otro más avanzado. Esperamos charlas con Python como tema central: desarrollo, administración de sistemas, juegos, extensión con otros lenguajes, usos científicos, hardware (RaspberryPi), etc.</p>
        <p>El idioma de las charlas será el español o, en el caso de ponentes internacionales, el inglés. Durarán unos 50 minutos (aprox) y al final del día habrá una hora para charlas rápidas (5 minutos) que se organizarán en la propia conferencia.</p>
        <p>Envíanos tu propuesta antes del 15 de septiembre indicando el nivel de conocimientos requerido y un resumen del contenido para que podamos evaluarla.</p>
        <p>¡Esperamos vuestras propuestas!</p>
        {% endblocktrans %}
    </div><!-- call4papers-inside -->
</article>

