{% load static from staticfiles %}


<article class="call4papers" id="call4papers">
    <div class="call4papers-inside">
        <div class="call4papers-right">
            <img src="{% static 'web/img/people.png' %}" alt="PyConES Madrid 2013" border="0" align="right" />
            <div class="call4papers-btn">
                 <a href="mailto:call4papers2013@es.pycon.org">call4papers2013@es.pycon.org</a>
            </div>
        </div>
        <h1 class="white">Call4papers</h1>
        <p>¿Tienes una conferencia interesante sobre Python? Anímate a compartirla con la comunidad.</p>
        <p>La conferencia consta de dos tracks, uno para principiantes y otro más avanzado; esperamos charlas que traten sobre cualquier tema relacionado con Python: desarrollo, administración de sistemas, juegos, extensión con otros lenguajes, usos científicos, hardware (RaspberryPi, Arduino), etc...</p>
        <p>Las charlas durarán 50 minutos y al final del día habrá una hora para charlas rápidas (5 minutos) que se organizarán en la propia conferencia.</p>
        <p>Envíanos tu propuesta indicando el nivel al que va dirigido y un resumen de la charla para que podamos evaluarla.</p>
    </div><!-- call4papers-inside -->
</article>

