{% load static from staticfiles %}


<article class="call4papers" id="call4papers">
    <div class="call4papers-inside">
        <div class="call4papers-right">
            <img src="{% static 'web/img/people.png' %}" alt="Pycon Madrid 2013" border="0" align="right" />
            <div class="call4papers-btn">
                 <a href="mailto:call4papers2013@es.pycon.org">call4papers2013@es.pycon.org</a>
            </div>
        </div>
         <h1 class="white">Call4papers</h1>
        <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>

<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
    </div><!-- call4papers-inside -->
</article>

