{% load static from staticfiles %}
{% load i18n %}
{% comment %}
<div class="nav-datos">
    <ul>
        <li id="current"><a href="#">{% trans 'Dónde/Cuándo' %}</a></li>
        <li><a href="#">{% trans 'Cómo llegar' %}</a></li>
        <li><a href="#">{% trans 'Conoce Madrid' %}</a></li>
        <li><a href="#">{% trans 'Alójate' %}</a></li>
    </ul>
</div><!-- nav-datos -->

<div class="informacion-slider">
    <div class="flexslider" id="informacion-slides">
        <ul class="slides">
            <li><!--Donde/Cuando--></li>
            <li><!--Como llegar--></li>
            <li><!--Conoce Madrid--></li>
            <li><!--Alojate--></li>
        </ul>
    </div>
</div>
{% endcomment %}
<div class="map-google">
            <iframe width="100%" height="450" frameborder="0" scrolling="no"
                marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=UPM+Campus+Sur,+Madrid,+Espa%C3%B1a&amp;aq=0&amp;oq=upm+campus+su&amp;sll=37.0625,-95.677068&amp;sspn=81.556555,190.986328&amp;ie=UTF8&amp;hq=UPM+Campus+Sur,+Madrid,+Espa%C3%B1a&amp;t=m&amp;cid=1693672686789260872&amp;hnear=&amp;ll=40.396416,-3.630302&amp;spn=0.029415,0.257406&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</div><!-- map-google -->

