{% load static from staticfiles %}
{% load i18n %}

<article class="tickets" id="end">
    <div class="tickets-inside">
        <h2 class="red title">{% trans 'Muchas gracias a todos :)' %}</h2>
        <p>{% trans 'Si te has perdido alguna charla, no desesperes: todas las charlas están ya colgadas en Youtube.' %}</p>
        <p>{% trans 'Podéis acceder a través de la <a href="#agenda">agenda</a>: en cada charla encontraréis el enlace al vídeo y a las transparencias correspondientes. Además podéis ver todos los vídeos en la siguiente <a href="http://www.youtube.com/watch?v=WG8s0e3MtxU&list=PLahUDl6AAwrjN_L2TtIC6e4tXqC7SJkva" target="_blank">playlist</a>.' %}</p>
        <p>{% trans 'También podéis ver el vídeo con el resumen de la conferencia. ¡Esperamos que os guste!' %}</p>
        <div class="video-container">
            <iframe src="http://www.youtube.com/embed/2dxmrqIxNHA" frameborder="0" width="840" height="473"></iframe>
        </div>
    </div>
</article>
