{% load static from staticfiles %}

 <footer id="contacto">
    <div class="footer-inside">
        <div class="footer-menu">
            <ul>
                <li><a class="logo-footer" href="#">PyCon 2013</a></li>
                <li><a href="#"><span class="white">{ }</span> Información</a></li>
                <li><a href="#"><span class="white">{ }</span> Patrocinadores</a></li>
                <li><a href="#"><span class="white">{ }</span> Call4papers</a></li>
                <li><a href="#"><span class="white">{ }</span> Horario</a></li>
                <li><a href="#"><span class="white">{ }</span> Precios</a></li>
                <li>&nbsp;</li>
                <li><a href="#"><span class="red">{ }</span> Aviso legal</a></li>
                <li><a href="#"><span class="red">{ }</span> Código de conducta</a></li>
            </ul>
        </div><!-- footer-menu -->
        <div class="footer-contacto">
            <h2 class="white">Contacta con nosotros</h2>
            <div class="footer-contacto-form">

            </div>
        </div><!-- footer-contacto -->
        <div class="footer-newsletter">
            <h2 class="white">Newsletter</h2>
            <div class="footer-newsletter-form">

            </div>
        </div><!-- footer-newsletter -->
        <div class="footer-copy">Copyright © 1990-2013, Python Software Foundation</div>
    </div><!-- footer-inside -->
</footer>

