{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}

 <footer id="contacto">
    <div class="footer-inside">
        <div class="footer-menu">
            <ul>
                <li><a class="logo-footer" href="#">PyConES 2013</a></li>
                <li><a href="#informacion"><span class="white">{ }</span> {% trans 'Información' %}</a></li>
                <li><a href="#patrocinadores"><span class="white">{ }</span> {% trans 'Patrocinadores' %}</a></li>
                <li><a href="#agenda"><span class="white">{ }</span> {% trans 'Agenda' %}</a></li>
                <li>&nbsp;</li>
                <li><a href="#" id="legal-terms" class="more-info-footer"><span class="red">{ }</span> {% trans 'Aviso legal' %}</a></li>
                <li><a href="#" id="code-of-conduct" class="more-info-footer"><span class="red">{ }</span> {% trans 'Código de conducta' %}</a></li>
            </ul>
        </div><!-- footer-menu -->
        <div class="footer-contacto">
            <h2 class="white">{% trans 'Contacta con nosotros' %}</h2>
            <p style="color: #ffffff">{% trans 'Escríbenos a' %} <a href="mailto:contacto2013@es.pycon.org">contacto2013@es.pycon.org</a></p>
        </div><!-- footer-contacto -->
    </div><!-- footer-inside -->
</footer>

