{% load static from staticfiles %}
{% load url from future %}

 <footer id="contacto">
    <div class="footer-inside">
         <div class="footer-contacto">
            <h2 class="white">Contacta con nosotros</h2>
            <p style="color: #ffffff">Escríbenos a <a href="mailto:contacto2013@es.pycon.org">contacto2013@es.pycon.org</a> o rellena el siguiente formulario</p>
            <form method="POST" id="contact-us-form" action="{% url 'contact_us' %}">
                {%csrf_token%}
                <p id="contact-us-message"></p>
                <span>Nombre:</span>
                <input name="name" type="text" placeholder="Nombre"/>
                <span>Email:</span>
                <input name="contact_email" type="text" placeholder="Email"/>
                <span>Mensaje:</span>
                <textarea name="message"></textarea>
                <p id="contact-message"></p>
                <a href="#" id="contact-us" class="button">Enviar</a>
            </form>
        </div><!-- footer-contacto -->
        <div class="footer-menu">
            <ul>
                <li><a class="logo-footer" href="#">PyCon 2013</a></li>
                <li><a href="#informacion"><span class="white">{ }</span> Información</a></li>
                <li><a href="#patrocinadores"><span class="white">{ }</span> Patrocinadores</a></li>
                <li><a href="#call4papers"><span class="white">{ }</span> Call4papers</a></li>
                {% comment %}
                <li><a href="#"><span class="white">{ }</span> Horario</a></li>
                <li><a href="#"><span class="white">{ }</span> Precios</a></li>
                {% endcomment %}
                <li>&nbsp;</li>
                <li><a href="#"><span class="red">{ }</span> Aviso legal</a></li>
                <li><a href="#"><span class="red">{ }</span> Código de conducta</a></li>
            </ul>
        </div><!-- footer-menu -->
        <div class="footer-newsletter">
            <h2 class="white">Newsletter</h2>
            <form method="POST" action="{% url 'newsletter:subscribe_newsletter' %}" id="newsletter-form">
                {%csrf_token%}
                <span>Suscríbete!</span>
                <input name="user_email" type="text" placeholder="Email"/>
                <p id="newsletter-message"></p>
                <a href="#" id="subscribe-newsletter" class="button">Enviar</a><br><br>
                <a href="/newsletter/latest" target="_blank" class="button-yellow">Ver última newsletter</a>
            </form>
        </div><!-- footer-newsletter -->
        <div id="footer-copy">Copyright © 1990-2013, Python Software Foundation</div>
    </div><!-- footer-inside -->
</footer>

