{% load static from staticfiles %}


<header>
    <div class="header-inside">
        <div class="logo-header">
            <a href="/"><h1>PYCON ESPAÑA 2013</h1></a>
        </div>
        <div class="social-header">
            <ul>
                <li><a class="social-twitter" href="https://www.twitter.com/#PyConES" target="_blank">TWITTER</a></li>
            </ul>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="#informacion">Información</a></li>
                <li><a href="#patrocinadores">Patrocionadores</a></li>
                <li><a href="#call4papers">Call4papers</a></li>
                <li><a class="nav-last" href="#contacto">Contacto</a></li>
                <!-- <li><a class="nav-precios" href="#precios">Precios</a></li>-->
            </ul>
        </nav>
    </div><!-- header-inside -->
</header>

