{% load static from staticfiles %}
{% load i18n %}


<header>
    <div class="header-inside">
        <div class="logo-header">
            <a href="/"><h1>{% trans 'PYCON ESPAÑA 2013' %}</h1></a>
        </div>
        <div class="social-header">
            <ul>
                <li><a class="social-twitter" href="https://www.twitter.com/#PyConES" target="_blank">TWITTER</a></li>
            </ul>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="#tickets">{% trans 'Entradas' %}</a></li>
                <li><a href="#informacion">{% trans 'Información' %}</a></li>
                <li><a href="#patrocinadores">{% trans 'Patrocinadores' %}</a></li>
                <li><a href="#call4papers">{% trans 'Call4papers' %}</a></li>
                <li><a class="nav-last" href="#contacto">{% trans 'Contacto' %}</a></li>
                {% comment %}<li><a class="nav-precios" href="#precios">{% trans 'Precios' %}</a></li>{% endcomment %}
            </ul>
        </nav>
    </div><!-- header-inside -->
</header>

