{% load static from staticfiles %}


<header>
            <div class="header-inside">
                <div class="logo-header">
                    <a href="/"><h1>PYCON ESPAÑA 2013</h1></a>
                </div>
                <div class="social-header">
                    <ul>
                        <li><a class="social-facebook" href="#">FACEBOOK</a></li>
                        <li><a class="social-twitter" href="#">TWITTER</a></li>
                        <li><a class="social-rss" href="#">RSS PYCONES 2013</a></li>
                    </ul>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">Información</a></li>
                        <li><a href="#">Patrocionadores</a></li>
                        <li><a href="#">Call4papers</a></li>
                        <li><a class="nav-precios" href="#">Precios</a></li>
                    </ul>
                </nav>
            </div><!-- header-inside -->
        </header>

