{% load static from staticfiles %}
{% load i18n %}

<article class="informacion" id="informacion">
    <div class="informacion-inside">
        <img src="{% static 'web/img/world.png' %}" alt="Pycon Madrid 2013" border="0" align="right" />
        <h2 class="white title">{% trans 'Información' %}</h2>
        <h3 class="welcome">
            <form name="setLangEs" action="/i18n/setlang/" method="POST" class="title-form">{% csrf_token %}
                <input type="hidden" name="language" value="es">
                <a href="#" onclick="document.setLangEs.submit(); return false;" class="title-form">Bienvenidos</a><span>-</span>
            </form>
            <form name="setLangCa" action="/i18n/setlang/" method="POST" class="title-form">{% csrf_token %}
                <input type="hidden" name="language" value="ca">
                <a href="#" onclick="document.setLangCa.submit(); return false;">Benviguts</a><span>-</span>
            </form>
            <form name="setLangGa" action="/i18n/setlang/" method="POST" class="title-form">{% csrf_token %}
                <input type="hidden" name="language" value="ga">
                <a href="#" onclick="document.setLangGa.submit(); return false;">Benvidos</a><span>-</span>
            </form>
            <form name="setLangEu" action="/i18n/setlang/" method="POST" class="title-form">{% csrf_token %}
                <input type="hidden" name="language" value="eu">
                <a href="#" onclick="document.setLangEu.submit(); return false;">Ongi etorri</a><span>-</span>
            </form>
            <form name="setLangEn" action="/i18n/setlang/" method="POST" class="title-form">{% csrf_token %}
                <input type="hidden" name="language" value="en">
                <a href="#" onclick="document.setLangEn.submit(); return false;">Welcome</a>
            </form>
        </h3>
        {% blocktrans %}
        <p>PyConES es la conferencia dedicada de forma exclusiva al lenguaje de programación Python. Se celebrará por primera vez en España como PyConES tras los éxitos cosechados por el formato PyCon en los cinco continentes (<a href="http://pycon.org" target="_new">http://pycon.org</a>).</p>
        <p>PyConES está organizada por la asociación Python España, que agrupa tanto a aficionados a Python como a usuarios profesionales, y cuyo principal objetivo es velar por la difusión y el desarrollo de Python dentro del territorio español.</p>
        {% endblocktrans %}
    </div><!-- informacion-inside -->
</article>

