{% load static from staticfiles %}

<article class="informacion" id="informacion">
    <div class="informacion-inside">
            <img src="{% static 'web/img/world.png' %}" alt="Pycon Madrid 2013" border="0" align="right" />
            <h2 class="white title">Información</h2>
            <p>PyConES es una conferencia dedicada de forma exclusiva al lenguaje de programación Python. Se celebrará por primera vez en España tras los éxitos cosechados por el formato PyCon en los cinco continentes (http://pycon.org).</p>
            <p>PyConES está organizada por la asociación Python España, formada por aficionados y profesionales del lenguaje de programación Python; se encarga de velar por el desarrollo y la difusión de Python dentro del territorio español.</p>
    </div><!-- informacion-inside -->
</article>

