{% load static from staticfiles %}
{% load i18n %}

<article class="language-selector">
    <div class="language-selector-inside">
        <ul class="languages">
            <form id="setLang" name="setLang" action="/i18n/setlang/" method="POST">{% csrf_token %}
                <input type="hidden" name="language" id="language">

                <li>
                    <a href="#" data-lang="es">Español</a>
                </li>
                <li>
                    <a href="#" data-lang="ca">Català</a>
                </li>
                <li>
                    <a href="#" data-lang="ga">Galego</a>
                </li>
                <li>
                    <a href="#" data-lang="eu">Euskara</a>
                </li>
                <li>
                    <a href="#" data-lang="en">English</a>
                </li>

            </form>
        </ul>
    </div><!-- informacion-inside -->
</article>
