{% load static from staticfiles %}
{% load i18n %}

<aside id="text-legal-terms" class="text-more-info-footer">
    <div class="conduct-inside">
        <h2 class="title">{% trans 'Aviso legal' %}</h2>
        {% blocktrans %}
        <p>Python España es una asociación dedicada a promover el uso del lenguaje de programación Python, servir como punto de encuentro de todos aquellos interesados en el uso de dicho lenguaje, y dar soporte, en la medida de sus posibilidades, a todos cuantos deseen aprender y desarrollar su uso, siempre bajo los principios de diversidad, tolerancia y respeto mutuo. Está inscrita en el registro nacional de asociaciones en el grupo 1 sección 1 con número nacional 603006 y CIF G86766821. Su domicilio social es la Calle Botánica núm. 4, primera planta, 28028 Madrid. Puedes ponerte en contacto a través del mail <a href="mailto:general@lists.es.python.org">general@lists.es.python.org</a>.</p>

        <p>Python España se reserva el derecho de modificar en cualquier momento las presentes condiciones de uso así como cualesquiera otras condiciones particulares.</p>

        <h3>Propiedad intelectual sobre los contenidos del sitio Web</h3>

        <p>Todos los elementos que forman el sitio Web, así como su estructura, diseño y código fuente de la misma, son titularidad de Python España y están protegidos por la normativa de propiedad intelectual e industrial.</p>

        <p>Se prohíbe la reproducción total o parcial de los contenidos de este sitio Web, así como su modificación y/o distribución sin citar su origen o solicitar previamente autorización.</p>

        <p>Python España no asumirá ninguna responsabilidad derivada del uso por terceros del contenido del sitio Web y podrá ejercitar todas las acciones civiles o penales que le correspondan en caso de infracción de estos derechos por parte del usuario.</p>

        <h3>LOPD (Ley Orgánica de Protección de Datos de Carácter Personal)</h3>

        <p>En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, Python España, le informa que los datos personales que nos sean proporcionados van a ser incorporados para su tratamiento en ficheros automatizados. La recogida y tratamiento de dichos datos tienen como finalidad comunicaciones electrónicas y/o la confección de estadísticas.</p>

        <p>Python España se compromete al cumplimiento de su obligación de secreto con respecto a los datos de carácter personal suministrados y al deber de tratarlos con confidencialidad y reserva, conforme a la legislación vigente. A estos efectos adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado.</p>

        <p>Así mismo se le informa que, si lo desea puede ejercitar los derechos previstos en el Art. 5 de la Ley a través del correo electrónico <a href="contacto2013@es.pycon.org">contacto2013@es.pycon.org</a>, seleccionando como asunto LOPD e indicando su nombre completo, su DNI y el tipo de derecho que desea ejercitar, Acceso, Rectificación, Cancelación u Oposición, o cursar baja en los servicios ofrecidos por Python España a través de este portal Web, solicitando la baja a través del correo electrónico contacto2013@es.pycon.org, indicando en el asunto del mismo "baja".</p>

        <h3>Cookies</h3>

        <p>El sitio Web de Python España utiliza cookies (pequeños archivos de información que el servidor envía al ordenador de quien accede a la página) únicamente para el correcto funcionamiento y visualización del sitio Web por parte del usuario.</p>

        <p>Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal y desaparecen al terminar la sesión del usuario. En ningún caso se utilizarán las cookies para recoger información de carácter personal.</p>

        <h3>Links</h3>

        <p>Los enlaces contenidos en este sitio Web pueden dirigir a contenidos Web de terceros. Python España no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en ningún caso implican relación alguna entre Python España y a las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren.</p>
         {% endblocktrans %}
        <a class="close-button" id="close-legal-terms">{% trans 'cerrar' %}</a>
    </div>
</aside>
