{% load static from staticfiles %}

<article class="horario">
            <div class="horario-inside">
                <h1 class="red">Horario</h1>
                <div class="horario-btn">
                    <ul>
                        <li id="current"><a href="#">Viernes 22</a></li>
                        <li><a href="#">Sábado 23</a></li>
                        <li><a href="#">Domingo 24</a></li>
                    </ul>
                </div>
                <div class="horario-tabla">
                    <ul>
                        <li class="horario-hora">12:00h</li>
                        <li class="horario-tema">Phyton tutorials</li>
                        <li class="horario-ponente">Pedro Pérez</li>
                        <li class="horario-donde">Sala 23</li>
                        <li class="horario-masinfo"><a href="#">más info</a></li>
                    </ul>
                    <ul>
                        <li class="horario-hora">12:00h</li>
                        <li class="horario-tema">Phyton tutorials</li>
                        <li class="horario-ponente">Pedro Pérez</li>
                        <li class="horario-donde">Sala 23</li>
                        <li class="horario-masinfo"><a href="#">más info</a></li>
                    </ul>
                    <ul>
                        <li class="horario-hora">12:00h</li>
                        <li class="horario-tema">Phyton tutorials</li>
                        <li class="horario-ponente">Pedro Pérez</li>
                        <li class="horario-donde">Sala 23</li>
                        <li class="horario-masinfo"><a href="#">más info</a></li>
                    </ul>
                    <ul>
                        <li class="horario-hora">12:00h</li>
                        <li class="horario-tema">Phyton tutorials</li>
                        <li class="horario-ponente">Pedro Pérez</li>
                        <li class="horario-donde">Sala 23</li>
                        <li class="horario-masinfo"><a href="#">más info</a></li>
                    </ul>
                    <ul>
                        <li class="horario-hora">12:00h</li>
                        <li class="horario-tema">Phyton tutorials</li>
                        <li class="horario-ponente">Pedro Pérez</li>
                        <li class="horario-donde">Sala 23</li>
                        <li class="horario-masinfo"><a href="#">más info</a></li>
                    </ul>
                    <ul>
                        <li class="horario-hora">12:00h</li>
                        <li class="horario-tema">Phyton tutorials</li>
                        <li class="horario-ponente">Pedro Pérez</li>
                        <li class="horario-donde">Sala 23</li>
                    </ul>
                </div>
            </div><!-- horario-inside -->
        </article>

