{% load static from staticfiles %}
{% load i18n %}

<article class="schedule" id="agenda">
    <div class="schedule-inside">
        <h2 class="title white">Horario Sábado</h2>
        <ul class="schedule-list">
            <li class="list-title track1 white">Track básico</li>
            <li class="list-title track2 white">Track avanzado</li>
            <li class="list-title track3 white">Track científico</li>
            <li class="track1">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eaque earum quia aliquid ullam culpa dolor quaerat illum doloremque impedit vel optio sit recusandae odio iste at ipsum cupiditate perspiciatis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eaque earum quia aliquid ullam culpa dolor quaerat illum doloremque impedit vel optio sit recusandae odio iste at ipsum cupiditate perspiciatis.</p>
                <p class="author">Alberto Chamorro</p>
            </li>
            <li class="track2">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track1">
                <span class="hour">10:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">10:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track1">
                <span class="hour">11:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">11:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track0">
                <span class="hour">12:00</span>
                <span class="paper-title">DESCANSO</span>
            </li>
            <li class="track1">
                <span class="hour">13:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">13:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track1">
                <span class="hour">14:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">14:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track0">
                <span class="hour">15:00</span>
                <span class="paper-title">DESCANSO</span>
            </li>
            <li class="track1">
                <span class="hour">16:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">16:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
        </ul>
        <h2 class="title white">Horario Domingo</h2>
        <ul class="schedule-list">
            <li class="list-title track1 white">Track básico</li>
            <li class="list-title track2 white">Track avanzado</li>
            <li class="list-title track3 white">Track científico</li>
            <li class="track1">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eaque earum quia aliquid ullam culpa dolor quaerat illum doloremque impedit vel optio sit recusandae odio iste at ipsum cupiditate perspiciatis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, eaque earum quia aliquid ullam culpa dolor quaerat illum doloremque impedit vel optio sit recusandae odio iste at ipsum cupiditate perspiciatis.</p>
                <p class="author">Alberto Chamorro</p>
            </li>
            <li class="track2">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track1">
                <span class="hour">10:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">10:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track1">
                <span class="hour">11:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">11:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track0">
                <span class="hour">12:00</span>
                <span class="paper-title">DESCANSO</span>
            </li>
            <li class="track1">
                <span class="hour">13:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">13:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track1">
                <span class="hour">14:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">14:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track0">
                <span class="hour">15:00</span>
                <span class="paper-title">DESCANSO</span>
            </li>
            <li class="track1">
                <span class="hour">16:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track2">
                <span class="hour">16:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                <span class="paper-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </li>
        </ul>
    </div>
</article>
