{% load static from staticfiles %}
{% load i18n %}

<article class="schedule" id="agenda">
    <div class="schedule-inside">
        <h2 class="title white">{% trans 'Horario Sábado' %}</h2>
        <ul class="schedule-list">
            <li class="list-title track1 white">{% trans 'Track PRODUBAN (básico)' %}</li>
            <li class="list-title track2 white">{% trans 'Track avanzado' %}</li>
            <li class="list-title track3 white">{% trans 'Track BITYVIP (científico)' %}</li>
            <li class="track0">
                <span class="hour">08:00</span>
                <span class="paper-title">{% trans 'ACREDITACIÓN (rotonda)' %}</span>
            </li>
            <li class="track0">
                <span class="hour">08:30</span>
                <span class="paper-title">{% trans 'PRESENTACIÓN (salón de actos)' %}</span>
                <span class="paper-title">{% trans 'Keynote Lynn Root' %}</span>
            </li>
            <li class="track1">
                <span class="hour">9:20</span>
                {{talks.bs9}}
            </li>
            <li class="track2">
                <span class="hour">9:20</span>
                {{talks.as9}}
            </li>
            <li class="track3">
                <span class="hour">9:20</span>
                {{talks.cs9}}
            </li>
            <li class="track1">
                <span class="hour">10:20</span>
                {{talks.bs10}}
            </li>
            <li class="track2">
                <span class="hour">10:20</span>
                {{talks.as10}}
            </li>
            <li class="track3">
                <span class="hour">10:20</span>
                {{talks.cs10}}
            </li>
            <li class="track0">
                <span class="hour">11:20</span>
                <span class="paper-title">{% trans 'Coffee break (rotonda)' %}</span>
            </li>
            <li class="track1">
                <span class="hour">11:50</span>
                {{talks.bs11}}
            </li>
            <li class="track2">
                <span class="hour">11:50</span>
                {{talks.as11}}
            </li>
            <li class="track3">
                <span class="hour">11:50</span>
                {{talks.cs11}}
            </li>
            <li class="track1">
                <span class="hour">12:50</span>
                {{talks.bs12}}
            </li>
            <li class="track2">
                <span class="hour">12:50</span>
                {{talks.as12}}
            </li>
            <li class="track3">
                <span class="hour">12:50</span>
                {{talks.cs12}}
            </li>
            <li class="track0">
                <span class="hour">13:50</span>
                <span class="paper-title">{% trans 'Comida (rotonda)' %}</span>
            </li>
            <li class="track1">
                <span class="hour">15:00</span>
                {{talks.bs15}}
            </li>
            <li class="track2">
                <span class="hour">15:00</span>
                {{talks.as15}}
            </li>
            <li class="track3">
                <span class="hour">15:00</span>
                {{talks.cs15}}
            </li>
            <li class="track1">
                <span class="hour">16:00</span>
                {{talks.bs16}}
            </li>
            <li class="track2">
                <span class="hour">16:00</span>
                {{talks.as16}}
            </li>
            <li class="track3">
                <span class="hour">16:00</span>
                {{talks.cs16}}
            </li>
            <li class="track0">
                <span class="hour">17:00</span>
                <span class="paper-title">{% trans 'Coffee break (rotonda)' %}</span>
            </li>
            <li class="track1">
                <span class="hour">17:30</span>
                {{talks.bs17}}
            </li>
            <li class="track2">
                <span class="hour">17:30</span>
                {{talks.as17}}
            </li>
            <li class="track3">
                <span class="hour">17:30</span>
                {{talks.cs17}}
            </li>
            <li class="track0">
                <span class="hour">18:30</span>
                <span class="paper-title">{% trans 'Lightning talks (salón de actos)' %}</span>
                <span class="paper-title">{% trans 'Taller "50 Shades of Big Data" (aula)' %}</span>
                <div>
                    <p>
                        Big Data no es una moda, ¡es una estrategia! Es un workshop de 2 horas introductorio y abierto a todos los niveles. El objetivo del workshop es darte una base para que puedas enfrentarte a los retos que se esconden detrás del Big Data.
                    </p>
                    <p>
                        Todo proyecto de Big Data tiene tres partes:
                    </p>
                        <ul>
                            <li>Recolección de datos, que nosotros haremos usando técnicas de scraping.</li>
                            <li>Tratamiento de los datos, donde veremos las diferencias entre tratar con archivos o usar una base de datos NoSQL.</li>
                            <li>Mostrar resultados. Gracias a la librería D3, mostrar resultados nunca fue tan sencillo... o sexy!</li>
                        </ul>
                    <p>
                        Los asistentes tendrán que llevar su propio ordenador.
                    </p>
                    <a href="https://twitter.com/ipedrazas" target="_blank">Iván Pedrazas</a>
                    <a href="https://twitter.com/juanriaza" target="_blank">Juan Riaza</a>
                </div>
            </li>
        </ul>
        <h2 class="title white">{% trans 'Horario Domingo' %}</h2>
        <ul class="schedule-list">
            <li class="list-title track1 white">{% trans 'Track PRODUBAN (básico)' %}</li>
            <li class="list-title track2 white">{% trans 'Track avanzado' %}</li>
            <li class="list-title track3 white">{% trans 'Track BITYVIP (científico)' %}</li>
            <li class="track1">
                <span class="hour">9:00</span>
                {{talks.bd9}}
            </li>
            <li class="track2">
                <span class="hour">9:00</span>
                {{talks.ad9}}
            </li>
            <li class="track3">
                <span class="hour">9:00</span>
                {{talks.cd9}}
            </li>
            <li class="track1">
                <span class="hour">10:00</span>
                {{talks.bd10}}
            </li>
            <li class="track2">
                <span class="hour">10:00</span>
                {{talks.ad10}}
            </li>
            <li class="track3">
                <span class="hour">10:00</span>
                {{talks.cd10}}
            </li>
            <li class="track0">
                <span class="hour">11:00</span>
                <span class="paper-title">{% trans 'Coffee break (rotonda)' %}</span>
            </li>
            <li class="track1">
                <span class="hour">11:30</span>
                {{talks.bd11}}
            </li>
            <li class="track2">
                <span class="hour">11:30</span>
                {{talks.ad11}}
            </li>
            <li class="track3">
                <span class="hour">11:30</span>
                {{talks.cd11}}
            </li>
            <li class="track1">
                <span class="hour">12:30</span>
                {{talks.bd12}}
            </li>
            <li class="track2">
                <span class="hour">12:30</span>
                {{talks.ad12}}
            </li>
            <li class="track3">
                <span class="hour">12:30</span>
                {{talks.cd12}}
            </li>
            <li class="track0">
                <span class="hour">13:30</span>
                <span class="paper-title">{% trans 'Comida (rotonda)' %}</span>
            </li>
            <li class="track1">
                <span class="hour">15:00</span>
                {{talks.bd15}}
            </li>
            <li class="track2">
                <span class="hour">15:00</span>
                {{talks.ad15}}
            </li>
            <li class="track3">
                <span class="hour">15:00</span>
                {{talks.cd15}}
            </li>
            <li class="track1">
                <span class="hour">16:00</span>
                {{talks.bd16}}
            </li>
            <li class="track2">
                <span class="hour">16:00</span>
                {{talks.ad16}}
            </li>
            <li class="track3">
                <span class="hour">16:00</span>
                {{talks.cd16}}
            </li>
            <li class="track0">
                <span class="hour">17:00</span>
                <span class="paper-title">{% trans 'Coffee break (rotonda)' %}</span>
            </li>
            <li class="track1">
                <span class="hour">17:30</span>
                {{talks.bd17}}
            </li>
            <li class="track2">
                <span class="hour">17:30</span>
                {{talks.ad17}}
            </li>
            <li class="track3">
                <span class="hour">17:30</span>
                {{talks.cd17}}
            </li>
            <li class="track0">
                <span class="hour">18:30</span>
                <span class="paper-title">{% trans 'Community report (salón de actos)' %}</span>
            </li>
        </ul>
    </div>
</article>
