{% load static from staticfiles %}
<article class="patrocinadores" id="patrocinadores">
    <div class="patrocinadores-inside">
        <h2 class="red title">Patrocinadores</h2>
        <div class="patrocinadores-btn">
            <ul>
                <li><a href="#" class="folleto-pdf">FOLLETO PDF</a></li>
                <li><a href="mailto:patrocinadores2013@es.pycon.org" class="contacto-patrocinador">CONTACTO PATROCINADOR</a></li>
            </ul>
        </div>
        <div class="patrocinadores-nav">
            <ul>
                <li><a href="#" class="diamante">DIAMANTE</a></li>
                <li><a href="#" class="platino">PLATINO</a></li>
                <li><a href="#" class="oro">ORO</a></li>
                <li><a href="#" class="plata">PLATA</a></li>
            </ul>
        </div>
        <div class="patrocinadores-slider">
            <div class="flexslider">
                <ul class="slides">
                    <li><img src="{% static 'web/img/slide1.jpg' %}" /></li>
                    <li><img src="{% static 'web/img/slide2.jpg' %}" /></li>
                    <li><img src="{% static 'web/img/slide3.jpg' %}" /></li>
                    <li><img src="{% static 'web/img/slide3.jpg' %}" /></li>
                    <!-- items mirrored twice, total of 12 -->
                </ul>
            </div>
        </div><!-- patrocinadores-slider -->
    </div><!-- patrocinadores-inside -->
</article>

