{% load static from staticfiles %}
{% load i18n %}

<article class="patrocinadores" id="patrocinadores">
    <div class="patrocinadores-inside">
        <h2 class="red title">{% trans 'Patrocinadores' %}</h2>
        <div class="patrocinadores-btn">
            <ul>
                <li><a href="mailto:patrocinadores2013@es.pycon.org" class="contacto-patrocinador">patrocinadores2013@es.pycon.org</a></li>
                <li><a href="{% static 'sponsors/pycones_es.pdf' %}" target="_new"target="_new" class="folleto-pdf">{% trans 'Folleto (PDF)' %}</a></li>
            </ul>
        </div>
        <div class="patrocinadores-nav">
            <ul>
                <li><a href="#" class="diamante">{% trans 'DIAMANTE' %}</a></li>
                <li><a href="#" class="platino">{% trans 'PLATINO' %}</a></li>
                <li><a href="#" class="oro">{% trans 'ORO' %}</a></li>
                <li><a href="#" class="plata">{% trans 'PLATA' %}</a></li>
            </ul>
        </div>
        <div class="patrocinadores-slider">
            <div class="flexslider" id="patrocinadores-slides">
                <ul class="slides">
                    <li><!-- diamante -->
                        {% if diamonds %}
                            <ul class="one-column">
                            {% for sponsor in diamonds %}
                                <li>
                                    <a href="{{ sponsor.url }}" target="_blank" title="{{ sponsor.name }}">
                                        <div style="background-image:url('{{ sponsor.image.url }}');"></div>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <h3>{% trans 'Sé el primer patrocinador <span class="diamante">diamante</span> de la PyConES' %}</h3>
                        {% endif %}
                    </li>
                    <li><!-- platino -->
                        {% if platinums %}
                            <ul class="two-columns">
                            {% for sponsor in platinums %}
                                <li>
                                    <a href="{{ sponsor.url }}" target="_blank" title="{{ sponsor.name }}">
                                        <div style="background-image:url('{{ sponsor.image.url }}');"></div>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <h3>{% trans 'Sé el primer patrocinador <span class="platino">platino</span> de la PyConES' %}</h3>
                        {% endif %}
                    </li>
                    <li><!-- oro -->
                        {% if golds %}
                            <ul class="four-columns">
                            {% for sponsor in golds %}
                                <li>
                                    <a href="{{ sponsor.url }}" target="_blank" title="{{ sponsor.name }}">
                                        <div style="background-image:url('{{ sponsor.image.url }}');"></div>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <h3>{% trans 'Sé el primer patrocinador <span class="oro">oro</span> de la PyConES' %}</h3>
                        {% endif %}
                    </li><!-- plata -->
                    <li>
                        {% if silvers %}
                            <ul class="five-columns">
                            {% for sponsor in silvers %}
                                <li>
                                    <a href="{{ sponsor.url }}" target="_blank" title="{{ sponsor.name }}">
                                        <div style="background-image:url('{{ sponsor.image.url }}');"></div>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <h3>{% trans 'Sé el primer patrocinador <span class="plata">plata</span> de la PyConES' %}</h3>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div><!-- patrocinadores-slider -->
    </div><!-- patrocinadores-inside -->
</article>

